<!-- * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * -->
<!-- * * * * * * * * * * * The content below * * * * * * * * * * * -->
<!-- * * * * * * * * * * is only a placeholder * * * * * * * * * * -->
<!-- * * * * * * * * * * and can be replaced.  * * * * * * * * * * -->
<!-- * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * -->
<!-- * * * * * * * * * Delete the template below * * * * * * * * * -->
<!-- * * * * * * * to get started with your project! * * * * * * * -->
<!-- * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * -->


<main class="main">
  <div class="card flex justify-content-center">
    <p-organizationChart [value]="info" selectionMode="single" class="company">
      <ng-template let-node pTemplate="person" class="node-content">

        <div class="node-content">
          <div>{{ node.label }}</div>
          <hr class="divider" [hidden]="node.data.title==='' && node.data.name ===''" />
          <div>{{ node.data.title }}</div>
          <div>{{ node.data.name }}</div>
        </div>

      </ng-template>
    </p-organizationChart>
  </div>

<!--  <div class="zoom-controls">-->
<!--    <button (click)="zoomIn()">+</button>-->
<!--    <button (click)="zoomOut()">-</button>-->
<!--  </div>-->

<!--  <div class="chart-container sample" [style.transform]="'scale(' + zoomLevel + ')'">-->
<!--    <org-diagram-->
<!--      [items]="items"-->
<!--      [pageFitMode]="PageFitMode.PageWidth"-->
<!--      [cursorItem]="0"-->
<!--      [centerOnCursor]="true">-->
<!--      <ng-template #customTemplate let-item>-->
<!--        <div class="custom-node">-->
<!--          <div class="title">{{ item.title }}</div>-->
<!--          <div class="subtitle">{{ item.description }}</div>-->
<!--          <div class="description">{{ item.description2 }}</div>ASas-->
<!--        </div>-->
<!--      </ng-template>-->
<!--    </org-diagram>-->
<!--  </div>-->


<!--  <div class="organigram-box">-->
<!--    <div class="organigram-header">A</div>-->
<!--    <p class="organigram-header">Dirección administrativa</p>-->
<!--    <div class="organigram-content">-->
<!--      <p>Dirección administrativa</p>-->
<!--      <p>DA1 Directora Administrativa</p>-->
<!--    </div>-->
<!--  </div>-->

  <!--  <router-outlet></router-outlet>-->

</main>

<!-- * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * -->
<!-- * * * * * * * * * * * The content above * * * * * * * * * * * * -->
<!-- * * * * * * * * * * is only a placeholder * * * * * * * * * * * -->
<!-- * * * * * * * * * * and can be replaced.  * * * * * * * * * * * -->
<!-- * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * -->
<!-- * * * * * * * * * * End of Placeholder  * * * * * * * * * * * * -->
<!-- * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * -->



